#telaEditarUsuario {
    -fx-background-color:  linear-gradient(to bottom, rgb(0, 153, 255), white,  white, white, white);
}

#label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}



#btSalvar {
    -fx-background-color: rgb(0, 153, 255);
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#btSalvar:hover {
    -fx-background-color: rgb(0, 117, 196);
}

#barraMenu {
    -fx-background-color: rgb(54, 54, 54);
}

#btEditar {
    -fx-background-color: rgb(0, 117, 196);
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#btMenu {
    -fx-background-color: rgb(0, 153, 255);
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#btMenu:hover {
    -fx-background-color: rgb(0, 117, 196);
}