#telaHome {
    -fx-background-color: linear-gradient(to bottom, rgb(0, 153, 255), rgb(0, 153, 255), white,  white, white, white);
}

#barraSuperior {
    -fx-background-color: rgb(0, 153, 255);
}

#btVoltar {
    -fx-background-color: rgb(0, 153, 255);
    -fx-text-fill: white;
}

#btVoltar:hover {
    -fx-background-color: rgb(0, 117, 196);
    -fx-background-radius: 50;
}

#tfProcureLivros {
    -fx-background-color: white;
    -fx-background-radius: 15;
}

#btPesquisar {
    -fx-background-color: rgb(0, 153, 255);
    -fx-text-fill: white;
}

#btPesquisar:hover {
    -fx-background-color: rgb(0, 117, 196);
    -fx-background-radius: 100;
}

#label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#barraMenu {
    -fx-background-color: rgb(54, 54, 54);
}

#btHome {
    -fx-background-color: transparent;
    /* -fx-background-color: rgb(0, 117, 196);
    -fx-text-fill: white;
    -fx-font-weight: bold; */
}

#btMenu {
    -fx-background-color: transparent;
    /* -fx-text-fill: white;
    -fx-font-weight: bold; */
}

/* #btMenu:hover {
    -fx-background-color: rgb(0, 117, 196);
} */