#telaListarAutores {
    -fx-background-color: white;
}

#btAdd {
    -fx-background-color: rgb(73, 255, 73);
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#btAdd:hover {
    -fx-background-color: rgb(62, 214, 62);
}

#btAtt {
    -fx-background-color: rgb(48, 231, 255);
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#btAtt:hover {
    -fx-background-color: rgb(39, 189, 209);
}

#btDel {
    -fx-background-color: rgb(255, 47, 47);
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#btDel:hover {
    -fx-background-color: rgb(206, 39, 39);
}

#barraMenu {
    -fx-background-color: rgb(54, 54, 54);
}

#btAutores {
    -fx-background-color: rgb(51, 192, 138);
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#btMenu {
    -fx-background-color: rgb(64, 255, 182);
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#btMenu:hover {
    -fx-background-color: rgb(51, 192, 138);
}

#label {
    -fx-text-fill: rgb(64, 255, 182);
    -fx-font-weight: bold;
}